.paletteEditor {
  flex-grow: 1;
  padding: 10% 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paletteListItem {
  margin: 0% 0% 10%;
}

.paletteListItemContent {
  display: flex;
  align-items: center;
}

.paletteListItemRadio {
  cursor: pointer;
  margin-right: 5%;
}

.newPaletteButton {
  width: 100%;
  margin-bottom: 5%;
}
