.menu {
  max-height: 30px;
  flex-basis: 30px;
  padding: 0px 4%;
  display: flex;
  align-items: center;
  background-color: var(--menu-background);
}

.spriteEditorScreenTags {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.screenTag {
  width: 45px;
  height: 70px;
  background-color: var(--menu-tags-background);
  color: var(--menu-background);
  margin-left: 1%;
  border-radius: 0 0 20% 20%;
  border: none;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.toolbuttonImg {
  filter: drop-shadow(0.1em 0.25em 0.1em #140c1c);
  width: 22px;
  height: 22px;
}

.active {
  background-color: var(--menu-tags-active);
}
