.paletteEditorTools {
  display: flex;
  justify-content: space-around;
  margin: 10% 0% 0%;
}

.toolButton {
  background-color: transparent;
  border: none;
}

.toolButtonImg {
  filter: drop-shadow(0.1em 0.25em 0.1em #140c1c);
  width: 22px;
  height: 22px;
}

.colorEditors {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
