.spriteEditorTools {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
}

.toolButton {
  background-color: transparent;
  border: none;
  outline: 0;
}

.toolButtonImg {
  filter: drop-shadow(0.1em 0.25em 0.1em #140c1c);
  width: 22px;
  height: 22px;
}

.activeButton {
  filter: drop-shadow(0.1em 0.25em 0.1em var(--menu-tags-active));
}
