@import url('http://fonts.cdnfonts.com/css/frnkgothitc-bk-bt');

html, body, div, span, a, h1, h2, h3, h4, h5, h6, p,
blockquote, img, ol, ul, li, input, label, select,
table, tbody, tfoot, thead, tr, th, td, footer, header,
menu, nav, section, video {
  margin: 0; padding: 0; font-size: 100%; list-style: none; border: 0;
}

:root {
  --light-color: #deded6;
  --dark-color: #1a1c2c;
  --min-dark-color: #333;
  --contrast-color: #ed7147;

  --background-color: #566c86;
  --dark-background-color: #304c6d;
  --alt-background-color: #333d51;

  --light-border: 2px solid var(--light-color);
  --dark-border: 2px solid var(--dark-color);
  --min-dark-border: 1px solid var(--min-dark-color);

  --inner-light-shadow: 0px 0px 0px 0.3em white inset;
  --dark-shadow: 0px 0.25em 0.25em 0px var(--dark-color);

  --dark-drop-shadow: drop-shadow(0.1em 0.25em 0.1em var(--dark-color));
  --contrast-drop-shadow: drop-shadow(0.1em 0.25em 0.1em var(--contrast-color));
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  color: var(--dark-color);
  font-family: 'FrnkGothITC Bk BT', sans-serif;
  font-size: 0.9em;
}

.container > * {
  max-width: 480px;
}
