html, body, div, span, a, h1, h2, h3, h4, h5, h6, p,
blockquote, img, ol, ul, li, input, label, select,
table, tbody, tfoot, thead, tr, th, td, footer, header,
menu, nav, section, video {
  margin: 0; padding: 0; font-size: 100%; list-style: none; border: 0;
}

@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');

:root {
  --menu-background: #deded6;
  --menu-tags-background: #333d51;
  --menu-tags-active: #ed7147;
  --app-background: #566c86;
  --canvas-background: #1a1c2c;
  --canvas-border: 2px solid #deded6;
  --canvas-shadow: 0px 0.25em 0.25em 0px #1a1c2c;
  --canvas-item-border: 1px solid #333;
  --palette-item-border: 2px solid #1a1c2c;
}

.container {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-family: 'PF Tempesta Seven Condensed', sans-serif;
  font-size: 0.9em;
  background-color: #304c6d;
}

.container > * {
  max-width: 480px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  background-color: var(--app-background);
  overflow-y: auto;
}

.paletteEditor {
  flex-grow: 1;
  padding: 10% 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paletteListItem {
  display: flex;
  align-items: center;
  margin: 0% 0% 10%;
}

.paletteListItemRadio {
  margin-right: 5%;
}

.spriteEditor {
  flex-grow: 1;
  min-height: 650px;
  padding: 10% 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockTitle {
  max-height: 50px;
  display: flex;
  justify-content: center;
  color: var(--menu-background);
  font-size: 3em;
  filter: drop-shadow(0.1em 0.25em 0.1em #140c1c);
}

.spriteSheetEditor {
  flex-grow: 1;
  min-height: 650px;
  padding: 2%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.spritesheet {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--canvas-background);
  border: var(--canvas-border);
  box-shadow: var(--canvas-shadow);
}

.block {
  border: var(--canvas-item-border);
  position: relative;
  box-sizing: border-box;
  height: 0;
  display: flex;
  flex-wrap: wrap;
}

.block .pixel {
  border: none;
}

.selected {
  box-shadow: 0px 0px 0px 0.1em white inset;
}
